<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="site-background">
        <form [formGroup]="generateInvoiceForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="companyName">Nazwa firmy</label>
            <select id="companyName" formControlName="companyName" class="form-control">
              <option *ngFor="let company of companiesNames" [ngValue]="company.name">{{company.name}}</option>
            </select>
            <label for="date" >Data płatności</label>
            <input type="date" formControlName="date" id="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
              <div *ngIf="f.date.errors.required">Data płatności jest wymaagana</div>
            </div>
            <label for="paymentMethod">Metoda płatności</label>
            <select  id="paymentMethod" class="form-control">
              <option value="">Wybierz metodę płatności</option>
              <option value="CARD">Karta</option>
              <option value="CASH">Gotówka</option>
              <option value="TRANSFER">Przelew</option>
            </select>
            <label for="discount" >Zniżka</label>
            <input type="number" formControlName="discount" id="discount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.discount.errors }" />
            <div *ngIf="submitted && f.discount.errors" class="invalid-feedback">
              <div *ngIf="f.discount.errors.required">Wartość zniżki jest wymagana</div>
              <div *ngIf="f.discount.errors.min">Zniżka nie może być ujemna</div>
            </div>
            <button type="submit" class="btn btn-primary">Zatwierdź</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
