<div id="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 backgroundClear">
        <div  id="site-background">
          <h1>Nie ukończone wizyty</h1>
          <ng-container *ngIf="showList">
            <ng-container *ngIf="visits.length == 0">
              Brak wizyt w historii.
            </ng-container>
            <ng-container *ngIf="visits.length != 0">
              <table class="table">
                <thead>
                <tr>
                  <td>Lp.</td>
                  <td>Marka</td>
                  <td>Model</td>
                  <td>Numer rejestracyjny</td>
                  <td>Data wizyty</td>
                  <td></td>
                </tr>
                </thead>
                <tr *ngFor="let visit of visits;  let i = index" [ngClass]="{ 'is-invalid': visit.notVerifiedOwners.length !== 0 }">
                  <td>{{i}}</td>
                  <td>{{visit.car.brandName}}</td>
                  <td>{{visit.car.model}}</td>
                  <td>{{visit.car.registrationNumber}}</td>
                  <td>{{visit.visitDate}}</td>
                  <ng-container *ngIf="visit.visitStatus == 'ACCEPTED'">
                    <td><button class="btn btn-primary" (click)="changeStatus(visit.id, 'in progress')">Potwierdź odbiór</button></td>
                  </ng-container>
                  <ng-container *ngIf="visit.visitStatus == 'IN_PROGRESS'">
                    <td><button class="btn btn-primary" (click)="submitPickup(i)">Do odbioru</button></td>
                  </ng-container>
                  <ng-container *ngIf="visit.visitStatus == 'FOR_PICKUP'">
                    <td><button class="btn btn-primary" (click)="changeStatus(visit.id, 'finished')">Odebrano</button></td>
                  </ng-container>
                </tr>
              </table>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!showList">
            <ng-container *ngIf="carParts.length == 0">Brak części w wizycie</ng-container>
            <ng-container *ngIf="carParts.length != 0">
              <table>
                <thead>
                  <tr>
                    <td>Id</td>
                    <td>Ilość</td>
                    <td>Cena</td>
                  </tr>
                </thead>
                  <tr *ngFor="let carPart of carParts">
                    <td>{{carPart.id}}</td>
                    <td>{{carPart.count}}</td>
                    <td>{{carPart.price}}</td>
                  </tr>
              </table>
            </ng-container>
            <form [formGroup]="addCarPartForm" (ngSubmit)="pushPart()">
              <div class="form-group">
                <label for="part">Wybierz część</label>
                <select id="part" formControlName="part" class="form-control">
                  <option *ngFor="let part of carPartsList" [ngValue]="part.id">{{part.name}}, {{part.producer}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="price">Podaj cene</label>
                <input type="text" id="price" formControlName="price" class="form-control">
              </div>
              <div class="form-group">
                <label for="count">Podaj ilość</label>
                <input type="number" id="count" formControlName="count" class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Dodaj część</button>
              </div>
            </form>

            <ng-container *ngIf="services.length == 0">Brak części w wizycie</ng-container>
            <ng-container *ngIf="services.length != 0">
              <table>
                <thead>
                <tr>
                  <td>Nazwa</td>
                  <td>Ilość</td>
                  <td>Cena</td>
                </tr>
                </thead>
                <tr *ngFor="let service of services">
                  <td>{{service.name}}</td>
                  <td>{{service.count}}</td>
                  <td>{{service.price}}</td>
                </tr>
              </table>
            </ng-container>
            <form [formGroup]="addServiceForm" (ngSubmit)="pushService()">
              <div class="form-group">
                <label for="service">Wybierz usługę</label>
                <select id="service" formControlName="service" class="form-control">
                  <option *ngFor="let service of servicesList" [ngValue]="service.id">{{service.id}}, {{service.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="price">Podaj cene</label>
                <input type="text" id="servicePrice" formControlName="servicePrice" class="form-control">
              </div>
              <div class="form-group">
                <label for="count">Podaj ilość</label>
                <input type="number" id="serviceCount" formControlName="serviceCount" class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Dodaj usługę</button>
              </div>
            </form>
            <div *ngIf="i !== undefined && visits[i].notVerifiedOwners.length !== 0 && visits[i].status === 'IN_PROGRESS'">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    Obecny/i właściciel(e)
                    <div *ngFor="let owner of visits[i].owners">
                      <input type="checkbox" id="v{{i}}">
                      <label>{{owner.firstName}} {{owner.lastName}}</label>
                    </div>
                  </div>
                  <div>
                    Niezweryfikowany/i właściciel(e)
                    <div *ngFor="let owner of visits[i].notVerifiedOwners; let i = index">
                      <input type="checkbox" id="nv{{i}}">
                      <label>{{owner.firstName}} {{owner.lastName}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="visits[i].overview">
              <form [formGroup]="addDateForm" (ngSubmit)="pushService()">
                <div class="form-group">
                  <label for="expirationDate">Lata przedłużenia przeglądu</label>
                  <input type="number" id="expirationDate" formControlName="expirationDate" class="form-control">
                </div>
              </form>
            </div>
            <button class="btn btn-primary" (click)="sendRequest()">Zapisz wizyte</button>
            <button class="btn btn-primary" (click)="cancel()">Anuluj</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

