
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style="width: 100%;">
        <li>
          <a href="{{logoHref}}"><img src="assets/css/images/logo_dark1.jpg" style="width: 160px; height: 40px"></a>
        </li>
        <li *ngFor="let item of leftMenu" class="nav-item active" >
          <a routerLink="{{ item.url }}" class="nav-link">{{ item.text }}</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item active" *ngFor="let item of rightMenu" style="width: 120px">
          <a routerLink="{{ item.url }}" class="nav-link" >{{ item.text }}</a>
        </li>
      </ul>
    </div>
  </nav>
