
#menu{
    font-size: 20px;
}

#tlo{
    background-image: url('images/kolorek.PNG')
}

#site-content{
    background-image: url('images/background1.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 987px;
}

#site-background{
    background-color: rgba(251, 255, 255, 0.8);
    background: rgba(251, 255, 255, 0.8);
    margin-top: 10%;
    width: 100%;
    min-height: 800px;
}

h1{
    text-align: center;
}