<div id="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 backgroundClear">
        <div  id="site-background">
          <h1>Wizyty przypisane do konta pracownika</h1>
          <ng-container *ngIf="visits.length == 0">
            Brak wizyt w historii.
          </ng-container>
          <ng-container *ngIf="visits.length != 0">
            <table class="table">
              <thead>
              <tr>
                <td>Lp.</td>
                <td>Marka</td>
                <td>Model</td>
                <td>Numer rejestracyjny</td>
                <td>Data wizyty</td>
                <td>Status</td>
                <td></td>
                <td></td>
              </tr>
              </thead>
              <tr *ngFor="let visit of visits;  let i = index">
                <td>{{i}}</td>
                <td>{{visit.car.brandName}}</td>
                <td>{{visit.car.model}}</td>
                <td>{{visit.car.registrationNumber}}</td>
                <td>{{visit.visitDate}}</td>
                <td>{{visit.status}}</td>
                <td><button>Pokarz szczegóły</button></td>
              </tr>
            </table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>


